@import '../../colors.scss';

.LandingPage {
  height: calc(100vh - 6rem);
  background-image: url('../../img/background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  span {
    color: $secondaryText;
    font-size: 1.4rem;
    font-weight: 600;
    text-shadow: 0 0 3px black;
    text-align: center;
  }
}
