@import '../../colors.scss';

#banner {
  box-shadow: 0 0 5px grey;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $primaryText;
    min-width: 150px;
    height: 4rem;

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }

  img {
    height: 4rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
}
