@import '../../colors.scss';

.footer {
  background-color: $primaryBg;
  box-shadow: 0 0 5px grey;
  padding: 2rem;
  font-size: 0.9rem;

  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1920px;

    img {
      height: 4rem;
    }

    a {
      text-decoration: none;
      color: $primaryText;
    }

    .adres {
      display: flex;
      flex-direction: column;
    }
  }
}
