$primaryText: black;
$secondaryText: whitesmoke;

$primaryBg: whitesmoke;
$secondaryBg: rgb(211, 211, 211);

$accent: #d31820;
$accentGradient: linear-gradient(
  0deg,
  rgba(215, 0, 0, 1) 0%,
  rgba(253, 0, 0, 1) 100%
);

$secondaryGradient: linear-gradient(
  0deg,
  rgb(126, 126, 126) 0%,
  rgb(145, 145, 145) 100%
);
